<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia</title>
</head>
<body>
    <form action="{{url}}"></form>
    <h1>Trivia</h1>
   <div>
    <button onclick="window.location.href ='/Sports';">Sports</button>
    </div>
    <div></div>
    <button onclick="window.location.href ='/Music';">Music</button>
    </div>
    <div>
    <button onclick="window.location.href ='/Movies';">Movies</button>
    </div>
    <div>
    <button onclick="window.location.href ='/Boxing';">Boxing</button>
    </div>
    
</body>
</html>